add4/sim/adder_tb.vcd
add4/sim/adder_tb.vvp
add4/sim/result.log
alu/sim/alu_tb.vvp
alu/sim/alu_tb.vcd
alu/sim/result.log
singlecycle/10_sim/singlecycle_tb.vvp
singlecycle/10_sim/singlecycle_tb.vcd
singlecycle/10_sim/Mem_after.data
singlecycle/10_sim/In_Mem_after.data
singlecycle/10_sim/Out_Mem_after.data
verification